/**** MAIN ****/
/**** ABOUT ****/
.about__company {
  width: 100%;
  position: relative;
  background: rgb(116,80,131); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 0px 6px 8px 1px rgba(50,37,57,0.3);
  font-family: 'LeagueGothic';
}
.box {
  float: left;
  width: 30%;
  margin: 72px 0px 0px 8px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

.box__1, .box__2, .box__3 {
  float: left;
  list-style: none;
  margin-right: 22px;
  margin-top: 10px;
}

.box__1 a, .box__2 a, .box__3 a {
  display: block;
  width: 32px;
  height: 31px;
  background: url(../../img/sprite.png) 0px 0px no-repeat;
  -moz-transition: 0.1s all;
  transition: 0.1s all;
}

.box .quote {
  background-position: -32px 0px;
}

.box .music {
  background-position: -64px 0px;
}

.box__1 a:hover {
  background: url(../../img/sprite.png) 0px -31px no-repeat;
}

.box__2 a:hover {
  background: url(../../img/sprite.png) -32px -31px no-repeat;
}

.box__3 a:hover {
  background: url(../../img/sprite.png) -64px -31px no-repeat;
}
.box__text {
  display: table;
  font-size: 16px;
}

.text__headline {
  font-size: 30px;
  margin-bottom: 7px;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.6);
}
.text__read {
  font-size: 16px;
  font-family: 'OpenSansLight';
  letter-spacing: -0.1px;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.6);
}
.read__more {
  float: right;
  position: relative;
  margin: 26px 18px 67px 0px;
}
.read__more a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.read__more a:focus, .read__more a:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
/**** END ABOUT ****/
/**** BLOG ****/
.blog {
  width: 100%;
  position: relative;
  font-family: 'LeagueGothic';
}
.testimontial {
  width: 45%;
  margin-left: 2%;
  margin-top: 99px;
  float: left;
  position: relative;
  background: url('../../img/testimontial.png') no-repeat;
}
img[alt="MAN"] {
  position: absolute;
  top: 18px;
  left: -7%;
}
.testimontial__text {
  width: 92%;
  height: 240px;
  margin-left: 13.4%;
  margin-top: 26px;
  overflow: hidden;
}
.testimontial__headline {
  color: #454545;
  font-size: 30px;
}
.testimontial__headline span {
  color: #edbfff;
}
.testimontial__read {
  width: 90%;
  font-size: 16px;
  font-family: 'OpenSansLight';
  margin-top: 8px;
}
.testimontial__buttons {
  overflow: hidden;
  margin: 30px 0px 42px 174px;
}

.testimontial__buttons li {
  float: left;
  list-style: none;
  margin-right: 8px;
}

.testimontial__buttons a {
  display: block;
  width: 18px;
  height: 20px;
  background: url('../../img/slider_button2.png') 0px 0px no-repeat;
}
.testimontial__buttons a:hover {
  background: url('../../img/slider_button2.png') -22px 0px no-repeat;
}
.testimontial__buttons a:focus {
  background: url('../../img/slider_button2.png') -22px 0px no-repeat;
}
.recent-updates {
  width: 46%;
  margin-left: 6%;
  margin-top: 125px;
  float: left;
  position: relative;
}
.recent-updates__headline {
  font-size: 30px;
  color: #454545;
}
.recent-updates__box {
  margin: 13px 0px 22px 1px;
}
.recent-updates__box img {
  margin-right: 14px;
  float: left;
}
.recent-updates__box span {
  font-size: 16px;
  font-family: 'OpenSansExtraBold';
  color: #454545;
}
.recent-updates__box p {
  font-size: 16px;
  font-family: 'OpenSansLight';
  color: #454545;
}
.read__more__here {
  margin-right: 11px;
  margin-top: 3px;
  float: right;
}
.read__more__here a {
  font-size: 18px;
  font-family: 'LeagueGothic';
  color: #454545;
  text-decoration: none;
}
.read__more__here a:hover {
  text-decoration: underline;
  text-shadow: 0px 0px 8px rgba(116, 80, 131, 0.8);
}
.client__page {
  position: relative;
  margin-top: 29px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.client {
  width: 90%;
  margin: 25px 0px 30px 9.5%;
  text-align: center;
}
img[src="img/clients-logo-01.png"] {
  margin-right: 7%;
}
img[src="img/clients-logo-02.png"] {
  margin-right: 7%;
}
img[src="img/clients-logo-03.png"] {
  margin-right: 8%;
}
img[src="img/clients-logo-04.png"] {
  margin-right: 8%;
}
img[src="img/clients-logo-05.png"] {
  margin-top: 22px;
  margin-right: 7%;
}
img[src="img/clients-logo-06.png"] {
}
.article {
  width: 100%;
  background: #ECECEC;

}
.article__box, .article__box2, .article__box3 {
  width: 29%;
  font-family: 'LeagueGothic';
  margin-left: -2px;
  float: left;
  padding-top: 89px;
  padding-bottom: 92px;
}

.article__box2, .article__box3 {
  margin-left: 61px;
}
.article__headline {
  font-size: 48px;
  color: #454545;
  padding-bottom: 7px;
}
.article__headline span {
  color: #B9B9B9;
  letter-spacing: -0.5px;
}
.article__copyright {
  font-size: 16px;
  color: #C5C5C5;
  font-family: Georgia, sans-serif;
  font-style: italic;
  padding-bottom: 10px;
  word-break: break-all;
}
.article__text {
  font-size: 16px;
  color: #787878;
  font-family: 'OpenSansLight';
  line-height: 24px;
  word-spacing: -2px;
  word-break: break-all;
}
.article__headline_size {
  font-size: 30px;
}
/**** END BLOG ****/
/**** END MAIN ****/
