* {
  margin: 0 auto;
  padding: 0px;
}
table {
  border-collapse: collapse;
  width: 502px;
  height: 543px;
  border: 15px solid white;
}
td {
  border: 13px solid black;
}
.red {
  background-color: #ff5c3f;
}
.yellow {
  background-color: #fde663;
}
.black {
  background-color: #1b2823;
}
.blue {
  background-color: #063e7a;
}
