.grid {
	max-width: 960px;
	margin: 0 auto;
  position: relative;
}
   @media all and (max-width: 320px), (max-width: 480px) {
        .menu {
            display: none;
        }
    }
    @media all and (min-width: 481px) {
        .menu480 {
            display: none;
        }
    }
    @media all and (max-width: 768px) {
        .text__item {
          display: none;
          font-family: 'OpenSansLight';
          font-size: 18px;
        }
        img[src="img/iphone-big.png"] {
          display: none;
        }
        .article__boxing {
          display: none;
        }
        img[src="img/iphone-small.png"] {
          display: none;
        }
    }
    @media all and (min-width: 769px) {
        img[src="img/iphone4.png"] {
          display: none;
        }
        .news__boxing {
          display: none;
        }
				img[src="img/iphone-small.png"] {
				    display: none;
				}

    }
    @media all and (min-width: 769px) {
        .text__item768 {
          width: 80%;
          display: none;
          font-family: 'OpenSansLight';
          font-size: 16px;
        }
    }
/**** WIDTH MONITOR 768px ****/
@media (max-width: 768px) { /* Будет приминяться тогда когда ширина экрана меньше 768px */
  .grid {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
  }
  .logo {
    float: none;
    margin-left: 1.5%;
  }
  .logo span {
    margin-left: 3px;
  }
  .menu {
    width: 100%;
    float: none;
    margin-left: -4%;
    margin-top: 22px;
  }
  .text__head {
    font-size: 48px;
    margin-bottom: 5px;
  }
  .text__description {
    font-size: 24px;
    height: 29px;
    margin-bottom: 6px;
  }
  .text__item768 {
    font-family: 'OpenSansLight';
    font-size: 16px;
  }
  .slider__text {
    margin-top: 98px;
    width: 35%;
    margin-left: 4%;
  }
  .slider {
    margin-top: 75px;
  }
  .iphone {
    width: 36%;
    margin-top: -22px;
    margin-left: 19%;
    float: left;
  }
  .iphone [src="img/iphone4.png"] {
    width: 101%;
  }
  .slider__buttons {
    margin-top: 27px;
    margin-right: 17%;
  }
  .about__company {
    margin-top: -14px;
  }
  .box {
    width: 28%;
    margin: 75px 2% 0px 2.5%;
  }
  .box__1, .box__2, .box__3 {
    margin-right: 10%;
    margin-top: 3px;
  }
  .text__headline {
    font-size: 24px;
  }
  .text__read {
    height: 129px;
    overflow: hidden;
  }
  .read__more {
    margin: 15px 5% 65px 0px;
  }
  .testimontial {
    width: 42%;
    margin-left: 3.7%;
    margin-top: 100px;
  }
  .testimontial__text {
    width: 81%;
    height: 221px;
    margin-left: 42px;
    margin-top: 26px;
  }
  .testimontial__headline {
    font-size: 24px;
    width: 110px;
  }
  .testimontial__read {
    width: 90%;
    margin-top: 8px;
  }
  .testimontial__buttons {
    margin: 48px 0px 42px 36%;
  }
  .recent-updates {
    width: 46%;
    margin-left: 7.7%;
    margin-top: 125px;
  }
  .recent-updates__box {
    width: 93%;
    margin: 15px 0px 3px 1%;
  }
  .recent-updates__box p {
    overflow: hidden;
    height: 27px;
  }
  .read__more__here {
    margin-right: 6.5%;
    margin-top: 17px;
  }
  .client {
    width: 97%;
    margin: 25px 0px 30px 1.5%;
  }
  .article__box2, .article__box3 {
    margin-left: 6%;
  }
  .article__box, .article__box2, .article__box3 {
    width: 26%;
    margin-left: 1%;
    padding-top: 99px;
  }
  .article__headline_size {
    font-size: 24px;
  }
  .article__box2, .article__box3 {
    margin-left: 9%;
  }
  .footer__menu {
    width: 77%;
    margin-left: 1.4%;
    padding-top: 46px;
  }
  .footer__item {
    margin-right: 7%;
  }
  .designed {
    margin-top: 98px;
    margin-left: 1.3%;
    margin-bottom: 85px;
  }
	img[src="img/iphone-small.png"] {
    display: none;
	}
}
/**** WIDTH MONITOR 480px ****/
@media (max-width: 480px) { /* Будет приминяться тогда когда ширина экрана меньше 480px */
  .logo {
    margin-left: 34%;
  }
  .logo span {
    margin-left: 0px;
  }
  .menu {
    margin-left: -3%;
  }
  .menu480 {
    margin-top: 38px;
    list-style: none;
    text-align: center;
  }
  .menu480__item {
    display: inline-block;
    margin: 0 auto;
    font-size: 24px;
  	line-height: 26px;
    font-family: 'LeagueGothic', Arial, Tahoma, sans-serif;
  	color: #fff;
  	text-decoration: none;
  	text-transform: uppercase;
  	padding-bottom: 4px;
  	border-bottom: 2px solid rgba(0,0,0,0.0);
  	position: relative;
  }
  .menu480__drop {
  	display: none;
  	list-style: none;
  }
  .menu480__item:hover .menu480__drop {
  	display: block;
    background-color: rgba(67,54,74,0.9);
  	position: absolute;
  	width: 246px;
  	left: -105px;
  	top: -20px;
  	border-radius: 6px;
    border: 1px solid #111b22;
    z-index: 3;
  }
  .menu480__drop__item {
  	border-top: 1px solid #614b6c;
  	border-bottom: 1px solid #36283e;
    border-bottom: 2px solid rgba(0,0,0,0.0);
  }
  .menu480__dropp__item__first {
  	border-top: 1px solid rgba(0,0,0,0.0);
    border-bottom: 2px solid rgba(0,0,0,0.0);
  }
  .menu480__drop__item__last {
  	border-top: 1px solid #614b6c;
    border-bottom: none;
  }
  .menu480__drop__link {
  	text-decoration: none;
  	display: inline-block;
  	color: #fff;
  	font-size: 24px;
  	line-height: 42px;
    font-family: 'LeagueGothic';
  }
  .menu480__drop__link:focus {
  	border-bottom: 2px solid #edbfff;
		color: white;
  }
  .menu480__drop__item:hover {
  	background: rgba(45,36,50,0.7);
    border-bottom: 2px solid #edbfff;
  }
	.slider {
    margin-top: 14px;
    height: 246px;
	}
	.slider__text {
    margin-top: 94px;
    width: 40%;
    margin-left: 7%;
	}
	.text__head {
    font-size: 36px;
    margin-bottom: -2px;
	}
	.text__description {
    font-size: 20px;
    height: 20px;
    margin-bottom: 6px;
    margin-left: -1%;
	}
	.text__item768 {
    display: none;
	}
	.iphone {
    width: 36%;
    margin-top: -8px;
    margin-left: 7%;
    float: left;
	}
	.iphone [src="img/iphone4.png"] {
    display: none;
	}
	img[src="img/iphone-small.png"] {
    display: inherit;
    width: 112%;
	}
	.slider__buttons {
    margin-top: -12px;
    margin-right: 38.5%;
	}
	.about__company {
    margin-top: -69px;
    height: 597px;
	}
	.box {
    width: 95%;
    margin: 75px 0% -52px 5%;
	}
	.box__1, .box__2, .box__3 {
    margin-right: 4.5%;
    margin-top: 3px;
	}
	.box__text {
    display: table;
    font-size: 16px;
    width: 86%;
	}
	.text__headline {
    font-size: 24px;
    margin-bottom: 3px;
	}
	.text__read {
    height: 65px;
    overflow: hidden;
	}
	.read__more {
    margin: 18px 4% 0px 0px;
	}
	.testimontial {
    width: 90%;
    margin-left: 7.7%;
    margin-top: 70px;
	}
	img[alt="MAN"] {
    position: absolute;
    top: 18px;
    left: -6%;
	}
	.testimontial__text {
    width: 85%;
    height: 221px;
    margin-left: 39px;
    margin-top: 24px;
	}
	.testimontial__headline {
    font-size: 30px;
    width: 100%;
	}
	.testimontial__read {
    width: 100%;
    margin-top: 12px;
	}
	.testimontial__buttons {
    margin: 50px 0px 0px 39%;
	}
	.recent-updates {
    width: 84%;
    margin-left: 16%;
    margin-top: 43px;
	}
	.recent-updates__box {
    width: 84%;
    margin: 16px 0px 4px 1%;
	}
	.recent-updates__box img {
    margin-right: 14px;
	}
	.read__more__here {
    margin-right: 16.5%;
    margin-top: 15px;
	}
	.client__page {
		margin-top: 86px;
	}
	.client {
		width: 100%;
    margin: 37px 0px 30px 0;
    text-align: inherit;
	}
	img[src="img/clients-logo-01.png"] {
		margin: 0px 11% 5% 16%;
	}
	img[src="img/clients-logo-02.png"] {
		margin: 0px 11% 5% 0px;
	}
	img[src="img/clients-logo-03.png"] {
		margin: 0px 0px 5% 0px;
	}
	img[src="img/clients-logo-04.png"] {
	  margin: 2px 12% 3% 12%;
	}
	img[src="img/clients-logo-05.png"] {
		margin: 25px 12% 3% 0px;
	}
	img[src="img/clients-logo-06.png"] {
		margin: 1% 0px 3% 0px;
	}
	.article__box, .article__box2, .article__box3 {
    width: 95%;
    margin-left: 2%;
    padding-top: 75px;
	}
	.article__box2, .article__box3 {
    margin-left: 2%;
    margin-top: -24%;
	}
	.article__box3 {
		margin-bottom: -2%;
	}
	.footer__menu {
		width: 97%;
    margin-left: 2.4%;
    padding-top: 47px;
	}
	.footer__item {
    margin-right: 5%;
	}
	.footer__item__last {
    margin-right: 0%;
	}
	.designed {
    margin-top: 31px;
    margin-left: 35.3%;
    margin-bottom: 82px;
}
}
/**** WIDTH MONITOR 360px ****/
@media (max-width: 320px) { /* Будет приминяться тогда когда ширина экрана меньше 360px */
  .logo {
    margin-left: 26%;
  }
  .logo span {
      margin-left: 0px;
    }
  .iphone {
     display: none;
	}
	.footer__menu {
		display: none;
	}
	.slider {
    background-color: rgba(0, 0, 0, 0);
	}
	.slider__text {
    margin-top: 94px;
    width: 65%;
    margin-left: 21%;
	}
	.slider__buttons {
    margin-top: 74px;
    margin-right: 33.5%;
	}
	.about__company {
    margin-top: -102px;
    height: 597px;
	}
	.box {
    width: 89%;
    margin: 67px 0% -42px 10%;
	}
	.box__1, .box__2, .box__3 {
    margin-right: 5.5%;
    margin-top: 3px;
	}
	.box__text {
    width: 80%;
	}
	.read__more {
    margin: 19px 9% 0px 0px;
	}
	.article {
		display: none;
	}
	.testimontial {
		width: 86%;
    margin-left: 10.7%;
	}
	.testimontial__text {
    height: 212px;
}
.testimontial__headline {
    font-size: 24px;
		width: 52%;
	}
	.testimontial__read {
    width: 79%;
    margin-top: -2px;
    margin-left: 2%;
	}
	.testimontial__buttons {
    margin: 50px 0px 0px 34%;
	}
	.recent-updates {
    width: 84%;
    margin-left: 5%;
    margin-top: 51px;
	}
	.recent-updates__box {
    width: 84%;
    margin: 7px 0px 4px 1%;
	}
	.recent-updates__box p {
    height: 25px;
	}
	.read__more__here {
    margin-right: -0.5%;
    margin-top: -4px;
	}
	.client__page {
    margin-top: 73px;
	}
	img[src="img/clients-logo-01.png"] {
    margin: 0px 16% 19% 19%;
	}
	img[src="img/clients-logo-02.png"] {
    margin: 0px 11% 19% 0px;
	}
	img[src="img/clients-logo-03.png"] {
    margin: 0px 0px 12% 66px;
	}
	img[src="img/clients-logo-04.png"] {
    margin: 2px 12% 12% 19%;
	}
	img[src="img/clients-logo-05.png"] {
    margin: 25px 17% 14% 12%;
	}
	img[src="img/clients-logo-06.png"] {
    margin: 1% 0px 14% 0px;
	}
	.designed {
    margin-top: 42px;
    margin-left: 27.3%;
    margin-bottom: 82px;
	}
}
